.main__top-news {
    display: grid; /* Define o elemento como um container de grid. */
    grid-template-columns: 2fr 1fr; /* Cria duas colunas, a primeira com o dobro do tamanho da segunda. */
    grid-template-areas: "topNews futureNews"; /* Nomeia as áreas do grid para referência futura. */
}

.top-news__future {
    grid-area: "topNews"; /* Atribui esta classe à área 'topNews' definida anteriormente. */
}

.future__img {
    width: 100%; /* Define a largura da imagem para ocupar 100% do seu container. */
}

.future__img-mobile {
    display: none; /* Define o display da imagem versão mobile como none para que ela não apareça em telas desktop */
}

.future__content {
    display: flex; /* Define o elemento como um container flexível. */
    margin: 2rem 0; /* Adiciona margem superior e inferior de 2rem. */
}

#primary-title {
    font-size: 52px; /* Define o tamanho da fonte para 52 pixels. */
    font-weight: 800; /* Define a espessura da fonte para 'bold'. */
}

.content__text {
    width: 100%; /* Define a largura do texto para ocupar 100% do seu container. */
     margin-left: 2rem; /* Define a margem para esquerda em 2rem(o equivalente à 32px) */
}

.content__text > p {
    color: #5d5f79; /* Define a cor do parágrafo. */
    line-height: 26px; /* Define a altura da linha para o parágrafo. */
}

.content__text > button {
    width: 46%; /* Define a largura do botão para ocupar 46% do seu container. */
    height: 52px; /* Define a altura do botão. */
    margin-top: 1rem; /* Adiciona uma margem superior de 1rem. */
    border: none; /* Remove a borda do botão. */
    background: #f15e50; /* Define a cor de fundo do botão. */
    color: #fffdfa; /* Define a cor do texto do botão. */
    font-size: 14px; /* Define o tamanho da fonte do botão. */
    font-weight: 600; /* Define a espessura da fonte do botão. */
    letter-spacing: 5px; /* Define o espaçamento entre as letras do botão. */
    text-transform: uppercase; /* Transforma o texto do botão em maiúsculas. */
}

.content__text > button:hover {
    background-color: #000; /* Muda a cor de fundo do botão quando o mouse passa sobre ele. */
    cursor: pointer; /* Muda o cursor para indicar que o botão é clicável. */
}

.future__news {
    grid-area: "futureNews"; /* Atribui esta classe à área 'futureNews' definida anteriormente. */
    margin-left: 2rem; /* Adiciona uma margem esquerda de 2rem. */
    padding: 2rem 1rem; /* Adiciona preenchimento em todas as direções. */
    background-color: #000; /* Define a cor de fundo. */
    color: #fff; /* Define a cor do texto. */
}

.future__news > h2 {
    color: #E6A751; /* Define a cor do título h2. */
    font-size: 32px; /* Define o tamanho da fonte do título h2. */
    font-weight: 700; /* Define a espessura da fonte do título h2. */
}

.new__card {
    margin-top: 1.5rem; /* Adiciona uma margem superior. */
    padding-bottom: 1.5rem; /* Adiciona preenchimento na parte inferior. */
    border-bottom: 1px solid #5F5F79; /* Adiciona uma borda inferior. */
}

.new__card > h3 {
    margin-bottom: 1rem; /* Adiciona uma margem inferior. */
    font-size: 20px; /* Define o tamanho da fonte do título h3. */
    font-weight: 600; /* Define a espessura da fonte do título h3. */
}

.new__card > h3:hover {
    cursor: pointer; /* Muda o cursor para indicar que o título h3 é clicável. */
    color: #E6A751; /* Muda a cor do título h3 quando o mouse passa sobre ele. */
}

.new__card > p {
    color: #D5D6EB; /* Define a cor do parágrafo dentro de 'new__card'. */
    line-height: 24px; /* Define a altura da linha para o parágrafo. */
}
