.main__other-news {
     display: flex;
     justify-content: space-between;
     margin-top: 2rem;
}

.other-news__card {
     display: flex;
     margin-right: 1rem;
}

.other-news__card > img {
     width: 30%;
}

.card__content {
     margin-left: .5rem;
     padding-top: .5rem;
}

.content__number {
     margin-bottom: 1rem;
     color: #C8C8CA;
     font-size: 38px;
     font-weight: 800;
}

.card__content > h3 {
     margin-bottom: 1rem;
     font-size: 20px;
     font-weight: 600;
}

.card__content > h3:hover {
     color: #E6A751;
}

.card__content > p {
     color: #C8C8CA;
     line-height: 26px;
     font-weight: 600;
}