.main__top-news {
     display: flex;

     .top-news__future {

          .future__img {
               width: 100%;
          }

          .future__content {
               display: flex;
               align-items: center;
               margin-top: 1rem;

               #primary-title {
                    width: 64%;
                    font-size: 50px;
                    font-weight: 800;
               }

               .content__text {
                    width: 90%;
                    margin-left: .5rem;    
               }
          }
     }
}

.content__text > p {
     margin-bottom: 2rem;
     color: #818085;
     line-height: 24px;
}

.content__text > button {
     cursor: pointer;
     width: 185px;
     height: 48px;
     color: #fff;
     font-size: 16px;
     background-color: #F15D51;
     border: none;

     &:hover {
          background-color: #000;
     }
}


